<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #canvas{
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url('https://i.ytimg.com/vi/6BFhVrifW-0/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBY8w243LNL9u6cX3KxmmRhcUGT5Q');
            border: 1px solid black;
            margin-inline:auto;
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>
    <img src="./images/ufo.png" id="ufo">
    <p id="x">h</p>
</body>
<script src="/examplefiles/lion.js" type="module"></script>
</html>